img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

/*Start adding your CSS below!*/

.button {
    height: 25px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

a {
    font-family: helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 10px;
}