body { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.mainnav {
    background-color: #8AE2C7;
    padding: 35px;
    margin-bottom: 30px;
      box-shadow: 0px 0px 15px #333;
}

.navitem {
    font-family: avenir, 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    letter-spacing: 2px;
    padding-top: 5px;
      color: #333;
}

h2 {
    font-family: avenir-heavy, 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    font-size: 33px;
    line-height: 140%;
   text-shadow: 0px 0px 15px #333;
  color: white;
    
}

h3{
    font-family: avenir-heavy, 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 15px; 
    line-height: 140%;
}


.jumbotron {
    padding-top: 100px;
    padding-bottom: 130px;
    border-radius: 0 !important;
    background-image: url(images/rainbowbanner.jpg);
   
}
.footer {
     background-color: #8AE2C7;
    padding: 35px;
    padding-bottom: 55px;
      box-shadow: 0px 0px 15px #333;
}
.thumbnail{
   border: none;
   background-color: #8AE2C7;
    border-radius:0 !important;
    padding: 0;
    margin-bottom:30px;
    
  
}
.thumbnail > img,
.thumbnail a > img {
 padding: 0;
    margin-bottom: 0;
}

.thumbnail .caption {
  padding-left: 25px;
    padding-right: 25px;
    padding-bottom:15px;
  color: #333;
}
p {
    font-family:avenir-light, 'Lato', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    line-height:160%;
        
}
.footer ul li {
    font-family: avenir, 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    letter-spacing: 1px;
    padding-top: 20px;
      color: #333;
}
.bottombar {
    padding: 0px;
    height:30px;
    background-color: #333;
}

a {
    text-decoration:none;
    color:#333;    
}

a:hover {
    color: #D13947;
    background-color:transparent;
    text-decoration:none;
}


.footernav > li > a {
     padding: 0;
  margin-bottom: 0;
  list-style: none outside none;
    list-style-type: none;
}

.navbar-form {
    padding: 0;
}

.learnmore {
    text-align: center;
    font-family:avenir-book, 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    background-color: #333;
    padding: 20px;
    width: 35%;
    align-self: center;
    margin-top: 40px;
    display:block;
    box-shadow: 0px 0px 15px #333;
}

.redbar {
    padding: 0px;
    height:5px;
    background-color: #D13947;
}

.learnmore:hover {
    background-color: #D13947;
}


.pagenumbers {
    text-align:center;
    margin-bottom: 30px;
    font-family: avenir, 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 13px; 
    
}

.newslink {
    text-align: right;
  font-family: avenir-heavy, 'Lato', sans-serif;
    font-weight: 700;
}

.sharelink {
     text-align: left;
  font-family: avenir-heavy, 'Lato', sans-serif;
    font-weight: 700;
}

.about {
    background-color: #efefef;
    margin-bottom:30px;
    margin: 1px;
    padding: 15px;
    
}
.bottomspace {
    margin-bottom: 30px;
}

.bottombuttons {
    text-align:center;
    padding: 15px;
    font-family:avenir-book, 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
   
    align-self: center;
    display:block;
}

.picture {
    padding :0px;
}

.learnmoretwo {
    text-align: center;
    font-family:avenir-book, 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    background-color: #333;
    padding: 20px;
    width: 35%;
    align-self: right;
    margin-top: 40px;
    display:block;
   
}


.learnmoretwo:hover {
    background-color: #D13947;
}

h4 {
font-family: avenir-heavy, 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 13px; 
    line-height: 140%;
}